@import url(http://fonts.googleapis.com/css?family=Capriola);
@import url(http://fonts.googleapis.com/css?family=Flamenco);

#cssmenu {
  position: absolute;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a, #topRight div p{
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  width: 100%;
  max-width: 98.8%;
  zoom: 1;
  height: 69px;
  background: url(images/bottom-bg.png) repeat-x center bottom;
  border-radius: 2px;
}
#cssmenu ul {
  background: url(images/nav-bg.png) repeat-x 0px 4px;
  height: 69px;
}


#cssmenu ul li {
  float: left;
  list-style: none;
  width: 16%;
  text-align: center;
}

#cssmenu ul li:first-child {
  padding-left: 25px;
}

#cssmenu ul li a {
  display: block;
  height: 37px;
  padding: 22px 30px 0;
  margin: 4px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}
#cssmenu ul li:first-child a {
  margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  background: url(images/color.png) center bottom;
  display: block;
  height: 37px;
  margin-top: 0px;
  padding-top: 26px;
  color: #4e6d04;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
  opacity: 1;
}

.header {
    height: 100px;
    border: 1px solid #efffff;
    border-radius: 5px;
    background-color: black;
  }

.header div{
    float: left;
}

#topLeft {
  width: 10%;
}

#topLeft #headerLogo {
    padding-left: 10px;
    width: 80%;
    max-height: 100px;
}    

#topRight div {
    width: 9%;
    height: 100px;
    text-align: center;
}

#topRight div p {
    text-decoration: none;
    color: white;
    padding-top: 45px;
}

#topCenter {
  width: 80%;
}

#topCenter #title {
    font-family: 'Flamenco', sans-serif;    
    color: white;
    font-size: 25pt;
    text-align: center;
}
#footer {
   position:fixed;
   left: 0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   opacity: 0.6;


}

#footer p {
  display: inline;
  vertical-align: middle;
  font-size: 8pt;
  text-align: center;
  margin-left: 42%;
  }

  #navigation {

    position: absolute;
    left: 82%;
    top: 80%;
  }

  #navigation button {


  height:30px;
  width: 100px;
  background-color: transparent;
  background: url(images/next.png) no-repeat center;
  cursor: pointer;
 }

  #steps div {

    height: 100%;
    margin-top: 5.1%;
    padding-bottom: 30%;
/*    background: #91BF22;*/
  }
 
  #steps table tr td, #steps #ctype {

    font-size: 15pt;
    /*font-family: 'Flamenco', sans-serif;*/
    font-family: verdana, sans-serif;
    opacity: 1;
    /*font-weight: bolder;*/

  }
  
   #steps #ttype {
      display: inline;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      font-size: 13px;
   }
  #steps table {
    height: 100%;
    padding-right: 90px;
   }

  h1 {
    font-family: verdana, sans-serif;
    font-size: 16pt;
    font-weight: normal;
  }

  #target_organ_table, #organ_in_risk_table {

    position: fixed;
    display: inline-table;
    border: 2px solid green;
    border-radius: 5px;
/*    font-weight: bold;*/
    font-family: Verdana, sans-serif;
    color: black;
    z-index: 9999999;
    height: 40%;
    margin-left: 40%;
  }

  #torgan_submit_button, #oar_organ_submit_button {

    max-height: inherit;
    margin-left: 60%;
    width: 60%;
    height: 150%;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Flamenco', sans-serif;
    background-color: dodgerblue
    font-weight: bold;
    font-size: 15pt;
    margin-left: 90%;

  }
